.color{
    background-color: rgb(220, 190, 249);
    z-index: 2;
}
 span{
    color: rgb(11, 11, 11);
}
#open
{
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(57, 52, 52);
}
.flex{
    display:flex;
    padding:0 10px;
    border-bottom: 1px solid rgb(64, 58, 58);
    justify-content: space-between;
}
.outer_div{
    border-bottom: 1px solid rgb(57, 52, 52);
    
}
.inner_div{
    background-color: aliceblue;
    border-radius: 8px;
    margin:10px 30px;

}
.info {
    padding: 10px;
}
.info1 {
    padding: 10px;
    color: rgb(178, 7, 7);
    font-weight: 500;
}
.title{
    margin: 10px 20px;
}